/* Variables */


//Fuentes
$fuentePrincipal: 'Lato', sans-serif;
$black: 900;
$bold: 700;
$regular: 400; 
$light: 300;


//Colores
$verde:#319795;
$verdeOscuro: #2c7a7b;
$blanco: #FFFFFF;
$grisClaro:#F2F2F2;
$grisOscuro: #E1E1E1;
$grisFuente: #595956;
$amarillo: #F2E205;
$rojo: #8C111B;



